LabaWeb/src/Book.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT Library (bookcase*)>
<!ELEMENT bookcase  (book*,NumberOfPages?)>
<!ATTLIST bookcase
        number CDATA #REQUIRED
        >

<!ELEMENT book (bookprice, pages)>
<!ATTLIST book
        name CDATA #REQUIRED
        >

<!ELEMENT bookprice EMPTY>
<!ATTLIST bookprice
        price CDATA #REQUIRED
        >

<!ELEMENT pages EMPTY>
<!ATTLIST pages
        quantity CDATA #REQUIRED
        >
<!ELEMENT NumberOfPages (#PCDATA)>
